
# Created by https://www.gitignore.io/api/python
# Edit at https://www.gitignore.io/?templates=python

### Python ###
# Byte-compiled / optimized / DLL files
__pycache__/
__pycache__/*
*.py[cod]
*$py.class

# C extensions
*.so

*.pid

*.sock
*.log

#config file because passwords
config.json
client.cfg

#old ui file
emiter_tracker.ui

#test music
muzyka.*